@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

.brand{
    color: #333;
	font-size: x-large;
	font-weight: 700;
	font-family: "Pacifico", cursive;
}

.capitalize-first-letter::first-letter {
	text-transform: uppercase;
  }